.goog-te-banner-frame.skiptranslate{
    display: none !important;
}
body{
    top:0px !important;
}

.goog-logo-link{
    display: none !important;
}
.goog-te-gadget{
    color: transparent !important;
}


.goog-te-gadget {
    font-family: Roboto, 'Open Sans', sans-serif!important;
    text-transform: uppercase;
  }
  .goog-te-gadget-simple  {
    margin-top: -10px;
    /*background-color: rgba(255,255,255,0.20)!important;*/
    border: none !important;
    border-radius: 30px!important;
    font-size: 1rem!important;
    line-height:2rem!important;
    display: inline-block;
    cursor: pointer;
    zoom: 2;
    overflow: hidden;
    height: 30px;
    width: 30px;
    padding: 0px;
  }
  .goog-te-menu2 {
  /* color: black;*/
    max-width: 100%;
  }
  .goog-te-menu-value {
    color: #fff !important;
      
      font-family: 'Material Icons';
      content: "\E927";
      margin-right: 16px;
      font-size: 2rem;
      vertical-align: -10px;
      /* // width:32px!important; */
    } 
  
  .goog-te-menu-value span:nth-child(5) {
    display:none;
  }
  .goog-te-menu-value span:nth-child(3) {
    border:none!important;
    font-family: 'Material Icons';
   
      font-family: 'Material Icons';
      content: "\E5C5";
      font-size: 100px;
      vertical-align: -6px;
    }  
  
  
  .goog-te-gadget-icon {
      background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGK86-hh6PBqspKsaF-PG-ZCq_L2V8UZymZQ&usqp=CAU)!important;
      background-position: -3px -100px;
      background-size: 100%;
      height: 50px !important;
      width: 30px!important; 
      padding: 0;
        margin-top: -0px;
        margin-left: -10px;
  }
  
 
