* {
  padding: 0px;
  margin: 0px;
}
#input_box {
  border: 1px solid rgb(197, 197, 197);
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 50px;
  overflow: hidden;
}
.page {
  display: flex;
  justify-content: center;
  width: 41%;
  /* border: 1px solid rgb(255, 4, 4);  */
  margin: auto;
  margin-top: 10px;
}
.page > button {
  display: block;
  margin: auto;
  padding: 16px 8px;
  border: 0px;
  background-color: white;
  font-size: 13px;
  font-family: 'Centra No2', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 650;
  color: #343b53;
  border-bottom: 2px solid transparent;
}
#sty:focus {
  border-bottom: 2px solid #3662d8;
  color: #3662d8;
}
#sty:active {
  border-bottom: 2px solid #3662d8;
  color: #3662d8;
}

.page > button:focus {
  border-bottom: 2px solid #3662d8;
  color: #3662d8;
}
#logo:hover {
  cursor: pointer;
}
.page > button:hover {
  /* border-bottom: #3662D8; */
  cursor: pointer;
  border-bottom: 2px solid #3662d8;
}

hr {
  width: 95%;
  height: 0px;
  margin: auto;
  margin-bottom: 20px;
  color: #727483;
  opacity: 0.5;
}
/* Input Field Styling */
.input_button {
  /* border: 1px solid black;  */
  display: flex;
  width: 79%;
  position: relative;
  margin: auto;
}

#location {
  position: absolute;
  left: 5px;
  top: 10px;
  /* font-size: 13px; */
  /* padding: 1.6px; */
  display: flex;
  align-items: center;
  color: rgb(32, 30, 30);
}

#chk-in {
  position: absolute;
  right: 69.5%;
  top: 10px;
  /* font-size: 13px; */
  /* padding: 1.6px; */
  display: flex;
  align-items: center;
  color: rgb(32, 30, 30);
}
#chk-out {
  position: absolute;
  right: 48.9%;
  top: 10px;
}

.input_button > .button1 {
  padding: 10.2px 21px;

  border: 1.5px solid #727483;

  border-radius: 8px;
}
#member {
  display: block;

  margin-bottom: 15px;
  padding: 9px;
  border-radius: 16px;
  border: none;
  background-color: blue;
  color: white;
  font-size: 11px;
}

#prsn {
  position: absolute;
  right: 28%;
  top: 11px;
}

.input_button > .button2 {
  padding: 10px 21px;

  border: 1.5px solid #727483;

  display: block;

  display: flex;
  border-radius: 8px;
}

.input_button > .button3 {
  padding: 10px 21px;

  border: 1.5px solid #727483;

  display: block;

  display: flex;
  border-radius: 8px;
}

.input_button > .button4 {
  padding: 10px 21px;

  border: 1.5px solid #727483;

  display: block;

  display: flex;
  border-radius: 8px;
}

.checkbox {
  display: flex;

  /* border: 1px solid black; */
  justify-content: center;

  margin: 20px auto;
  padding: 2px 0px 2px 0px;
}

.checkbox > div {
  display: flex;
  align-items: center;
}
.checkbox > div > input + div {
  font-family: 'Centra No2', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #343b53;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  width: 100px;
}
.checkbox > div > div {
  font-size: 14px;
  font-family: 'Centra No2', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  margin-top: -3px;
  font-weight: 450;
}
input[type='checkbox'] {
  transform: scale(1.5);

  /* border: radius 50px solid; */
  border-width: 4px;

  border-style: solid;
}
#srchButton,
#srcBtn {
  display: block;
  margin: auto;
  padding: 14px 60px;
  margin-top: 40px;
  background-color: #3662d8;
  border-radius: 7px;
  border: 0px;
  color: white;
  font-weight: bold;
  margin-bottom: 25px;
  font-size: 16px;
  font-family: 'Centra No2', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
}
#srchButton:hover {
  cursor: pointer;
  background-color: #1f419c;
}
/* Top SEction End !*/

/* Mid-Section Start */

#bg-img-container {
  /* border: 1px solid rgb(121, 118, 118); */
  width: 90%;

  border-radius: 7px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}
#bg-img {
  background-image: url('https://a.travel-assets.com/travel-assets-manager/cmct-5255/POSa-HP-Hero-D-928x398.jpg');
  background-repeat: no-repeat;
  border-radius: 7px;
  background-size: 100% 100%;
}

#text-content {
  /* border: 1px solid black; */
  width: 50%;
  padding: 150px 60px;
}
#text-content > h1 {
  color: #ffffff;
  text-shadow: 0px 1px 2px rgb(0 11 38 / 80%);

  margin-bottom: 10px;
}
#text-content > p {
  line-height: 21px;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  font-weight: 530;
  width: 50%;
  text-align: unset !important;
}
#text-content > h1 {
  font-size: 36px;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
  width: 65%;
}
#text-content > button {
  background-color: #3765e4;
  color: #ffffff;
  border: 0px;
  padding: 13px 16px;
  border-radius: 5px;
  /* width: 30%; */
}
#text-content > button:hover {
  cursor: pointer;
  background-color: #1a54f5;
}
#btn-text {
  font-size: 16px;
  font-weight: 546;

  font-family: 'Quicksand', sans-serif;
}
#bg-color {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 8px;
}
#bg-color2 {
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.1);
  /* border-radius: 8px; */
}
#bg-img-container2 {
  width: 90%;

  border-radius: 7px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}

#box-sizing {
  height: 270px;
  width: 100%;
  margin: auto;
  border-radius: 11px;
}
#bg-img2 {
  background-image: url('https://a.travel-assets.com/travel-assets-manager/gmvd-1482-bookearly-emea/667x320.jpg');
  background-repeat: no-repeat;
  /* /* border-radius: 7px; */
  background-size: 115% 130%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}
#bg-img2 + div {
  /* height: 400px; */
  position: absolute;
  top: 190px;
  left: 16px;
  color: #ffffff;
  text-shadow: 0px 1px 2px rgb(0 11 38 / 80%);
  width: 80%;

  line-height: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}
#Qr-cont {
  width: 100%;
  border-radius: 9px;
  border: 1px solid rgba(121, 118, 118, 0.432);
  margin-top: 45px;
  display: flex;
}
#img-cont {
  width: 38%;

  overflow: hidden;
}
#img-cont > img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}
#text-contQr {
  width: 58%;
  margin-left: 20px;
  margin-right: 20px;
}
#text-contQr > h1,
h4,
p {
  width: 100%;
  font-family: 'Centra No2', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
}
#text-contQr > h1 + p {
  color: #343b53;
  text-shadow: none;
  margin-bottom: 28px;
  margin-top: 8px;
  font-weight: 400;
  text-align: unset;

  font-size: 14px;
}
#text-contQr > h1 {
  color: #343b53;

  font-size: 32px;
  font-weight: 500;
}
#text-contQr > h1 + p + h4 {
  color: #141d38;

  font-synthesis: none;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 15px;
  width: 80%;
}
#btn-getapp + p {
  color: #343b53;
  text-shadow: none;
  font-size: 12px;
  line-height: 18px;
  text-align: unset;
}
#Qr-logo {
  width: 20%;
}
#Qr-logo > div {
  width: 70%;
  margin: auto;

  margin-top: 30px;
}
#Qr-logo > div > img {
  width: 100%;
}
#Qr-logo > div > img + p {
  color: #141d38;
  text-shadow: none;
  font-weight: bold;
  text-align: center;
}

.down_btns > select,
.down_btns > input,
.down_btns > button {
  height: 45px;
  width: 140px;
  border-radius: 8px;
  outline: none;
  border: 1px solid black;

  font-size: 15px;
}
.down_btns > input {
  height: 43px;
}
.down_btns > button {
  background-color: rgb(73, 73, 238);
  color: white;
  font-weight: 600;
  border: none;
}

#form > input {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #343b53;
  font-size: 14px;
  font-weight: 700;
  width: 78%;
}
/* Mid_scetion END! */

/*   LAST SECTION START */

#last-sec {
  width: 100%;
  margin-top: 50px;
}

#last-sec > h3 {
  text-align: center;
  font-family: 'Centra No2', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  color: #141d38;
  font-weight: 500;
}
#last-sec > a {
  text-align: center;
  display: block;
  text-decoration: none;
  font-family: 'Centra No2', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  background-color: transparent;
  color: #3662d8;
  font-weight: 400;
}
#cmpny-info {
  width: 90%;
  /* border: 1px solid black; */
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-top: 45px;
}
#cmpny-info > div {
  /* border: 1px solid black; */
  padding: 20px;
}
#cmpny-info > div > a {
  display: block;
  margin-top: 11px;
  text-decoration: none;
  font-size: 12px;
  background-color: transparent;
  color: #3662d8;
  font-weight: 400;
}
#cmpny-info > div > a,
h3 {
  font-family: 'Centra No2', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
}
#cmpny-info > div > h3 {
  color: #141d38;
  font-size: 14px;

  font-weight: 500;
}
#cmpny-info > div > a:hover {
  text-decoration: underline;
}
#hr {
  width: 90%;
  color: rgb(75, 68, 68);
  margin-bottom: 0px;
}
#last-logo-cont {
  width: 90%;
  /* border: 1px solid black; */
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}
#last-logo-cont > div {
  width: 16%;
  padding: 0px 0px 10px 0px;
  /* border: 1px solid black; */
  margin-top: 20px;
}
#last-logo-cont > div > img {
  width: 100%;
  height: 100%;
}
#end > p {
  width: 91%;
  font-size: 12px;
  color: #343b53;
  font-family: 'Centra No2', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  overflow-wrap: break-word;
  margin: auto;
  text-shadow: none;
}
#end {
  width: 95%;
  margin: auto;
  /* border: 1px solid black; */
  margin-bottom: 51px;
}
.input_button {
  animation-name: come;
  animation-duration: 300ms;
}
@keyframes come {
  from {
    margin-left: -500px;
  }
  to {
    margin-left: 60px;
  }
}

@media only screen and (max-width: 700px) {
  #cmpny-info {
    display: flex;
    flex-direction: column;
  }
  #input_button {
    display: flex;
    flex-direction: column;
  }
  #Qr-logo {
    display: none;
  }
  #Qr-cont {
    display: flex;
    flex-direction: column;
  }
  #text-contQr > h1 + p + h4 {
    display: none;
  }
  .down_btns {
    display: none;
  }
  .down_btns + p {
    display: none;
  }
  #img-cont {
    width: 100%;
  }
  .input_button {
    flex-direction: column;
  }
}

/*   LAST SECTION END! */
