.page>button:nth-child(2) {
    border-bottom: 2px solid #3662D8;
    color: #3662D8;
}

.select_button {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 10px;
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 15px;
}

.select_button>div {
    display: flex;
    gap: 5px;
}

.select_button>div:first-child>div {
    padding: 12px 35px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.select_button>div:first-child>div>a {
    color: black;
    text-decoration: none;
}

.select_button>div:first-child>div:last-child {
    background-color: #e0e7f7;
}

.select_button>div:first-child>div:last-child>a {
    text-decoration: none;
    color: #3662D8;
}

.select_button>div:first-child>div:hover {
    background-color: #e0e7f7;
}

.select_button>div:first-child>div>a:hover {
    color: #3662D8;
}

.select_button>div:last-child>div {
    padding: 12px 15px;
    cursor: pointer;
    color: #3662D8;
}

.select_button>div:last-child>div>h4 {
    font-weight: 500;
}

.select_button>div:last-child>div>h4:hover {
    text-decoration: underline;
}

/* ------------------------flights input part--------------------------- */

.input_button {
    display: flex;
    width: 90%;
    position: relative;
    margin: auto;
}

#location1 {
    position: absolute;
    left: 0.5%;
    top: 10px;
    display: flex;
    align-items: center;
    color: rgb(32, 30, 30);
}

#location2 {
    position: absolute;
    left: 37.5%;
    top: 10px;
    display: flex;
    align-items: center;
    color: rgb(32, 30, 30);
}

#departing {
    position: absolute;
    left: 74%;
    top: 10px;
    display: flex;
    align-items: center;
    color: rgb(32, 30, 30);
}

#f1 {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    cursor: default;
}

.input_button>.fbutton1 {
    padding: 10.2px 21px;
    width: 32.5%;
    border: 1.5px solid #727483;
    border-radius: 8px;
    margin-right: 8px;
}

#f2 {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    cursor: default;
}

.input_button>.fbutton2 {
    padding: 10.2px 21px;
    width: 32.5%;
    border: 1.5px solid #727483;
    border-radius: 8px;
    margin-right: 8px;
}

.input_button>.fbutton3 {
    padding: 10.2px 21px;
    width: 20%;
    border: 1.5px solid #727483;
    border-radius: 8px;
    margin-right: 8px;
}

#addanother {
    width: 87%;
    margin: auto;
    margin-top: 15px;
    text-align: end;
    color: #3662D8;
}

#addanother>h4 {
    font-weight: 500;
}

#srcBtn {
    display: block;
    margin: auto;
    padding: 14px 60px;
    margin-top: 40px;
    background-color: #3662D8;
    border-radius: 7px;
    border: 0px;
    color: white;
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 16px;
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

#srcBtn:hover {
    cursor: pointer;
    background-color: #1f419c;
}
.down_btns > select, .down_btns > input,.down_btns > button{
    height: 45px;
    width: 140px;
    border-radius: 8px;
    outline: none;
    border: 1px solid black;
    padding-left: 10px;
    margin-left: 30px;
    font-size: 15px;
  }
  .down_btns > input{
    height: 43px;
    margin-left: 10px;
  }
  .down_btns > button{
    margin-left: 10px;
    background-color: rgb(73, 73, 238);
    color: white;
    font-weight: 600;
    border: none;
  }
