#navbar,
#right,
#left {
  display: flex;
  justify-content: space-between;
}

#left > img {
  width: 5vw;
  height: 5vh;
}
body {
  background-position: 10px 10px;
  background-repeat: no-repeat;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Centra No2', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
}
#navbar {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  align-items: center;
}

#right {
  margin-right: -9vw;
  width: 35vw;
  height: 5vh;
  display: flex;
  text-align: center;
}
#middle {
  display: none;
}

/* #nav-1 > div {
   width: 12vw;
 } */
#main-logo {
  height: 5.5vh;
  width: 17px;

  margin-top: 0.2vh;
  margin-left: 0;
  margin-right: 0;
}

.static {
  display: flex;
  justify-content: space-evenly;
  width: 13vw;
  margin-left: -3vw;
}
#right > .static > a {
  text-decoration: none;
  color: rgb(91, 91, 91);
  width: 20%;
}
#right > .desktop-nav > a {
  text-decoration: none;
  color: rgb(91, 91, 91);
  font-size: 14px;
  font-weight: 600;
}
.desktop-nav {
  display: flex;
  justify-content: space-evenly;
  margin-top: 7px;
  width: 25vw;
}
.line {
  width: 100%;
  padding: 0;
  margin-bottom: 50px;
  margin-top: -2vh;
  color: rgb(103, 103, 103);
}

.icon {
  text-align: center;
  font-size: larger;
}
.drp-dwn {
  margin-left: -22vw;
}

/* Dropdown Button */
.dropbtn {
  background-color: white;
  padding: 15px;
  padding-left: 0%;
  padding-right: 0%;
  font-size: 90%;
  border: none;
  cursor: pointer;

  color: black;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  color: blue;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 30vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Centra No2', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #e7edfd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
.tab-nav-bag > a {
  text-decoration: none;
  color: rgb(91, 91, 91);
  font-size: large;
}
.tab-nav-bag {
  display: none;
}

@media (max-width: 62em) {
  .desktop-nav {
    display: none;
    text-align: center;
  }
  .tab-nav-bag {
    display: flex;

    margin-right: -3vw;
    text-align: center;
  }

  #right {
    width: 30vw;
    text-align: center;
    justify-content: space-evenly;
  }
  .static {
    width: 15vw;
    margin-left: -3vw;
  }
  .static > a {
    text-decoration: none;
    color: rgb(91, 91, 91);
    width: 20%;
  }
}

@media (max-width: 36em) {
  #middle {
    display: block;
    margin-top: 10.5px;
    margin-left: -5vw;
  }
  .tab-nav-bag {
    margin-left: -4vw;
  }
  .acc {
    margin-left: 15px;
  }

  .drp-dwn {
    display: none;
  }
}
#modal-box {
  /* display: none; */
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  right: 70px;
  top: 70px;
  background-color: white;
  display: none;
  flex-direction: column;
  gap: 20px;
  z-index: 400;
  border-radius: 10px;
  width: 300px;
}
#modal-box > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#modal-box > div > * {
  margin-top: 10px;
}
#signOutBtn {
  width: 100px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  border: transparent;
  cursor: pointer;
}
#signOutBtn:hover {
  background-color: rgb(121, 121, 121);
  color: white;
}
#blueMember {
  background-color: rgb(45, 20, 210);
  width: 100px;
  margin: 0 auto;
  padding: 3px;
  border-radius: 10px;
  font-size: 12px;
  color: #e7edfd;
}
@media only screen and (max-width: 700px) {
  #modal-box {
    width: 100%;
    right: 0;
  }
}
