* {
  padding: 0px;
  margin: 0px;
}
#singupform-cont {
  width: 40%;
  /* height: 400px; */
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 30px;
}
.h1-cont {
  width: 74%;
  margin: auto;
}
input {
  display: block;
  width: 72%;
  padding: 18px 0px 18px 11px;
  margin: auto;
  margin-bottom: 25px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #727483;
  /* color: #141d38; */

  font-size: 16px;
  font-weight: 400;
}
.error:focus {
  outline: none;
  /* border: 2px solid #727483; */
  border: 2px solid rgb(38, 0, 255);
}

h1 {
  margin-bottom: 22px;
  color: #141d38;
  font-family: 'Centra No2', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 32px;
  font-weight: 500;
}

#signUp-nav {
  width: 100%;
  height: 70px;
  /* border: 1px solid black; */
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#signUp-nav > div + div {
  width: 12%;
  /* border: 1px solid rgb(214, 20, 20); */
  margin: auto;
  padding: 0px 72px 0px 0px;
}

#signUp-nav > div + div > a > img {
  width: 100%;
}

#arrow {
  width: 3%;
  /* border: 1px solid rgb(214, 20, 20); */
  display: flex;
  align-items: center;
  padding: 0px 9px;
}
#arrow:hover {
  cursor: pointer;
}

#arrow > i {
  font-size: 21px;
  color: blue;
}

#continue,
#login {
  display: block;
  margin: auto;
  width: 72%;
  border: none;
  background-color: rgba(53, 53, 212, 0.795);
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 21px 0px;
  border-radius: 10px;
}
#continue:hover {
  cursor: pointer;
  background-color: rgba(12, 16, 209, 0.89);
}
#login:hover {
  cursor: pointer;
  background-color: rgba(12, 16, 209, 0.89);
}

form + div {
  text-align: center;
  margin-top: 30px;
  font-family: 'Centra No1', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

#createOne {
  text-decoration: none;
  color: rgb(49, 49, 226);
  font-weight: 600;
  font-size: 17px;
}
#createOne:hover {
  text-decoration: underline;
}
/* .pass{
        position: relative;
        border: 1px solid black;
    } */

.pass {
  position: relative;
  /* border: 1px solid black; */
}
#seen {
  position: absolute;
  right: 80px;
  top: 18px;
}
#seen > i {
  color: #303135;
}
#seen:hover {
  cursor: pointer;
}

#alert,
#p-email,
#pss-wrd {
  color: red;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Centra No1', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.show-alert {
  justify-content: center;
  /* border: 1px solid black; */
  padding: 14px 10px;
  width: 30%;
  margin: auto;
  opacity: 0;
  margin-top: 20px;
  pointer-events: none;
  /* position: absolute; */
  display: none;
  background-color: rgba(220, 38, 38);
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: 16px;
}
.show-alert > p {
  margin-left: 10px;
}
.visible-alert {
  display: flex !important;
  opacity: 1;
  transition: top 0.3s ease;
  pointer-events: auto;
}
